# DB_NAME=Smart-Hotel-System
# DB_USER=neondb_owner
# DB_PASSWORD=npg_3Apc4IJmZXqf
# DB_HOST=ep-fancy-wildflower-adwyuq87-pooler.c-2.us-east-1.aws.neon.tech
# DB_PORT=5432


DB_NAME=Smart_Hotel_System_Db
DB_USER=postgres
DB_PASSWORD=Deno@123
DB_HOST=localhost
DB_PORT=5432

# SAFARICOM CREDENTIALS
CONSUMER_KEY=C4GZYqOQ15gRBmMttmBcWKKbvjbjVjLCcVl8nGIwMYDniUhi
CONSUMER_SECRET=YuDQYiG33XAjnWQuVwx4plrsD3ZnW3Gqy4WXgeZxgex3IsAY5YCeqeusT5BoddAt

PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
BUSINESS_SHORTCODE=174379
 

