[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-tenants = "*"
psycopg2-binary = "*"
qrcode = "*"
django-tailwind = "*"
python-slugify = "*"
python-dotenv = "*"
pillow = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
