<div class="grid grid-cols-2 gap-4">

{% for order in active_orders %}
<div class="bg-slate-800 rounded-xl p-4 shadow">
    <div class="flex justify-between mb-2">
        <div>
            <h4 class="font-semibold">Table {{ order.table.number }}</h4>
            <p class="text-sm text-slate-400">Order #{{ order.order_id }}</p>
        </div>

        <span class="text-amber-400 text-sm font-semibold">
            {{ order.in_progress_period }}
        </span>
    </div>

    <ul class="text-sm mb-4">
        {% for item in order.order_items.all %}
        <li>{{ item.quantity }}× {{ item.menu_item.title }}</li>
        {% endfor %}
    </ul>

    {% if order.status == 'IN_PROGRESS' %}
    <form
        hx-post="{% url 'chef_flow:mark_order_ready' order.order_id %}"
        hx-target="#active_orders_container"
        hx-swap="innerHTML"
    >
        {% csrf_token %}
        <button class="w-full bg-blue-600 hover:bg-blue-700 py-2 rounded-lg mb-2">
            Mark as Ready
        </button>
    </form>
    {% elif order.status == 'READY' %}
    <form
        hx-post="{% url 'chef_flow:complete_order' order.order_id %}"
        hx-target="#completed_orders_container"
        hx-swap="innerHTML"
    >
        {% csrf_token %}
        <button class="w-full bg-green-600 hover:bg-green-700 py-2 rounded-lg">
            Mark as Served
        </button>
    </form>
    {% endif %}
</div>
{% empty %}
<p class="text-slate-400">No active orders </p>
{% endfor %}

</div>
