{% for order in orders %}
<tr 
  class="hover:bg-gray-100 transition"
>
  <td class="px-5 py-3 font-semibold">{{ order.order_id }}</td>
  <td class="px-5 py-3">{{ order.table }}</td>
  <td class="px-5 py-3">{{ order.created_at }}</td>
  <td class="px-5 py-3">KSH {{ order.total_price|floatformat:2 }}</td>
  <td class="px-5 py-3">
    <span class="px-2 py-1 rounded-full text-xs font-medium 
      {% if order.payment_status == 'Paid' %} bg-green-100 text-green-700
      {% elif order.payment_status == 'Pending' %} bg-yellow-100 text-yellow-700
      {% elif order.payment_status == 'Failed' %} bg-red-100 text-red-700
      {% endif %}
    ">
      {{ order.payment_status }}
    </span>
  </td>
  <td class="px-4 py-2">
   <span class="px-3 py-1 rounded-full text-xs font-medium 
        {% if order.get_status_display == 'Completed' %} bg-emerald-100 text-emerald-700
        {% elif order.get_status_display == 'Pending' %} bg-amber-100 text-amber-700
        {% elif order.get_status_display == 'In Progress' %} bg-blue-100 text-blue-700
        {% elif order.get_status_display == 'Cancelled' %} bg-red-100 text-red-700
        {% endif %}
      ">
        {{ order.get_status_display }}
   </span>
  </td>
</tr>

<!-- Expandable Details Row -->
<tr id="order-details-{{ order.pk }}" class="hidden"></tr>
{% endfor %}